* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
*::after,
*::before {
  box-sizing: border-box;
}
:root {
    --color-dark: #111111;
    --color-main: #7C00DD;
  }

body{
    background: var(--color-dark);
    overflow-x: hidden;
}
section{
    margin-bottom: 150px;
}
.countainer{
    width: 1240px;
    margin: 0 auto;
}
h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 100%;
    /* or 48px */

    margin: 0;
    color: #FFFFFF;
}
h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    /* identical to box height, or 48px */


    color: #FFFFFF;
}
h3{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}
h5{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
header{
    padding-top: 48px;
}
.menu{
    display: flex;
}
.header_nav-menu{
    display: flex;
    margin-left: 102px;
}
.nav-menu{
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
}
.nav-menu a{
    color: #fff;
    margin-right: 78px;
    font-weight: 500;
    transition: ease 0.5s;
}
.nav-menu li:last-child a{
    margin-right: 0px;
}
.nav-menu a:hover{
    color: var(--color-main);
    text-shadow: 0px 0px 25px #7C00DD;
}
.back{
    position: relative;
    top: 0;
    right: 0;
    z-index: -5;
    width: 100%;
}
.back_pizza{
    top: 0;
    right: -50px;
    position: absolute;
    z-index: -3;
}
.back_steam{
    position: absolute;
    z-index: -2;
    top: 75px;
    right: 0px;
}
.back_neon{
    width: 518px;
    height: 268px;
    background: var(--color-main);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(250px);
    position: absolute;
    top: 200px;
    right: 200px;
    z-index: -4;
}
.main_offer{
    margin-top: 150px;
}
.main_offer-intro{
    width: 407px;
}
.main_offer-intro b{
    color: #7C00DD;
}
.main_offer-info{
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    /* or 18px */
    width: 407px;
    margin-top: 10px;
    color: #FFFFFF;
}
.main-offer-btns{
    display: flex;
    margin-top: 50px;
    align-items: center;
}
.btn-2 a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    transition: ease 1s;
}
.btn-2 a:hover{
    color: #7C00DD;
    text-shadow: 0px 0px 25px #7C00DD;
}
.btn-1{
    margin-right: 35px;
}
.btn-1 a{
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    padding: 18px 35px;
    color: #ffffff;
    text-decoration: none;
    transition: 1s;
    overflow: hidden;
   
}
.btn-1 a:hover{
    background: #7C00DD;
    color: #ffffff;
    box-shadow: 0 0 5px #7C00DD,
                0 0 25px #7C00DD,
                0 0 50px #7C00DD,
                0 0 200px #7C00DD;
}
.btn-1 a span{
    position: absolute;
    display: block;
}
.btn-1 a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#ffffff);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.btn-1 a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#ffffff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.btn-1 a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#ffffff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.btn-1 a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#ffffff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
.main_social{
    margin-top: 180px;
    align-items: center;
    display: flex;
    height: 40px;
}
.main_social a{
    margin-right: 40px;
}
.main_social a:last-child{
    margin-right: 0;
}
.social{
    width: 25px;
    height: 25px;
    transition: 0.3s;
}
.social:hover{
    width: 35px;
    height: 35px;
}
.nav-navbar{
    margin-top: 45px;
}
.nav-navbar-list{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 15px;
    transition: ease 0.3s;
    width: 295px;
}
.nav-active{
    color: #7C00DD;
    text-shadow: 0px 0px 25px #7C00DD;
}
.nav-navbar li:hover{
    color: #7C00DD;
    text-shadow: 0px 0px 25px #7C00DD;
}
.menu_wrp_nav{
    display: flex;
    justify-content: space-between;
}
.nav-pizzas{
    display: grid;
    grid-template-columns: repeat(3, 295px);
    grid-gap: 20px;
    display: none;
}
.pizza-img-info{
}
.pizza-img{
    width: 295px;
    height: 179px;
    object-fit: cover;
}
.pizza-img-info{
    position: relative;
    /* display: flex; */
}
.pizza-img-info::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 295px;
    height: 179px;
    background: #7d00ddb6;
    opacity: 0;
    transition: all 0.5s ease;
}
.pizza-img-info:hover::before{
    opacity: 1;
}
.pizza-descr{
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
    width: 280px;
    overflow: hidden;
}
.pizza-descr > p{
    display: block;
    transform: translateY(80px);
    transition: transform 0.5s ease;
}
.pizza-img-info:hover .pizza-descr > p{
    transform: translateY(0);
}
.pizza_touch{
    width: 295px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pizza_inf{
    display: flex;
    justify-content: space-between;
    width: 295px;
    margin: 15px 0 18px 0;
    align-items: flex-end;
}
.pizza-weight{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #878787;
}
.pizza_touch-price span{
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
}
.pizza_touch-price-btn{
    cursor: pointer;
    width: 189px;
    height: 36px;
    background: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    transition: all 0.5s ease;
}
.pizza_touch-price-btn:hover{
    color: var(--color-main);
    background: #fff;
}
.active-pizzas{
    display: grid;
}
.backet{
    cursor: pointer;
    width: 58px;
    height: 58px;
    background: #7C00DD;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 13px;
    transition: all 0.5s ease;
}
.backet:hover{
    background: #161616;
}
.nav-navbar-backet{
    margin-top: 25px;
    display: flex;
    align-items: center;
}
.go-to-backet{
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}
.constructor_info p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    margin-top: 25px;
    width: 632px;
    margin-bottom: 37px;
}
.topings-name{
    margin-bottom: 21px;
}
.toping_checkbox{
    display: none;
}
.topping-item-checkbox{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    width: 295px;
}
.topping-item-checkbox{
    display: flex;
    align-items: flex-start;
}
.fake{
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid #7C00DD;
    margin-right: 22px;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
}
.fake::before{
    content: "";
    width: 33px;
    height: 33px;
    background: url('../img/checked.png');
    opacity: 0;
    transition: 0.3s ease;
}
.toping_checkbox:checked + .fake::before {
    opacity: 1;
}
.topin{
    width: 295px;
    height: auto;
}
.toping div:last-child{
    margin-bottom: 0;
}
.topping-item{
    margin-bottom: 15px;
}
.constructor_wrapper-pizza-toppings{
    display: grid;
    grid-template-columns: repeat(2,295px);
    grid-auto-rows: 295px;
    grid-column-gap: 20px;
}
.constructor_wrapper-pizza{
    display: flex;
    justify-content: space-between;
}
.current-pizza{
    position: relative;
    margin-top: -60px;
    width: 609px;
    height: 609px;
}
.current-pizza-item{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100%;
}
.testo1{
    background: url('../img/topings/testo\ orig.png');
    display: none;
    z-index: -7;
}
.testo2{
    background: url('../img/topings/testo\ 1.png');
    display: none;
    z-index: -7;
}
.testo3{
    background: url('../img/topings/testo\ 2.png');
    display: none;
    z-index: -7;
}
.sous1{
    background: url('../img/topings/osnova.png');
    display: none;
    z-index: -6;
}
.sous2{
    background: url('../img/topings/osnova\ 1.png');
    display: none;
    z-index: -6;
}
.top-tomat{
    background: url('../img/topings/tomat.png');
    display: none;
}
.top-gribi{
    background: url('../img/topings/shampinion.png');
    display: none;
}
.top-pepper{
    background: url('../img/topings/perec.png');
    display: none;
}
.top-ananas{
    background: url('../img/topings/ananas.png');
    display: none;
}
.top-olivki{
    background: url('../img/topings/olives.png');
    display: none;
}
.top-mozzarella{
    background: url('../img/topings/mozzarella.png');
    display: none;
}
.top-pappironi{
    background: url('../img/topings/kolbasa.png');
    display: none;
}
.top-vetchina{
    background: url('../img/topings/bekon.png');
    display: none;
}
.top-chiken{
    background: url('../img/topings/chiken.png');
    display: none;
}
.back-light{
    width: 566px;
    height: 566px;
    border-radius: 500px;
    background: var(--color-main);
    filter: blur(100px);
    z-index: -20;
    position: absolute;
    left: 5%;

}
.active-toping{
    display: block;
}
.constructor_wrp_add-and-price{
    margin-top: -50px;
    display: flex;
    align-items: center;
}
.const-price{
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}
.const-price b{
    font-size: 14px;
}
.wrp-backet{
    display: grid;
    grid-template-columns: repeat(1,500px);
    grid-gap: 20px;
}
.basket-pizza{
    display: flex;
}
.basket-info{
    margin-left: 25px;
}
.basket-info-weigth{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
    margin-top: 9px;
}
.pizza-num{
    align-items: center;
    display: flex;
    width: 60px;
    justify-content: space-between;
    margin-top: 9px;
    color: #FFFFFF;
}
.basket-img{
    width: 195px;
    height: 118px;
}
.pizza-price{
    display: flex;
    margin-top: 28px;
    align-items: flex-end;
    color: #FFFFFF;
}
.price{
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    margin-right: 5px;
}
.mn-pl{
    cursor: pointer;
}
.basket-form{
    width: 609px;
    height: 365px;
    border: 5px solid #7C00DD;
    box-sizing: border-box;
}
.basket-form_wrp{
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}
.basket-form{
    padding: 40px;
}
.inp-form{
    width: 200px;
    height: 40px;
    background: #FFFFFF;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #141414;
    padding: 10px;
    border: 0px;

}
.inp-form2{
    width: 286px;
    height: 40px;
    background: #FFFFFF;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #141414;
    padding: 10px;
    border: 0px;
}
.inp-form3{
    width: 83px;
    height: 40px;
    background: #FFFFFF;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #141414;
    padding: 10px;
    border: 0px;
}
.form{
    padding-top: 30px;
    display: grid;
    grid-gap: 25px;
}
.main-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 25px;
}
.basket-form_first-info{
    display: grid;
    width: 200px;
    grid-gap: 15px;
}
.basket-form_second-info{
    display: grid;
    width: 286px;
    grid-gap: 15px;
}
.second-info_adress{
    display: flex;
    justify-content: space-between;
}
.form-last-info{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: flex-end;
}
.money-info{
    display: flex;
}
.price-rub{
    display: flex;
    align-items: flex-end;
    margin-left: 5px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
.price-info{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    color: #FFFFFF;
    margin-left: 18px;
}
.sub-btn{
    width: 156px;
    height: 50px;
    top: 2822px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    background: var(--color-main);
    border: 0px;
    transition: all 0.3s ease;
}
.sub-btn:hover{
    color: var(--color-main);
    background: #ffffff;
}
footer{
    background: #7C00DD;
    padding: 27px 0 51px 0;
}
.footer{
    display: flex;
    align-items: flex-start;
}
.header_nav-menu a:hover{
    color: var(--color-dark);
}